DatabaseClient/DatabaseClient/Connected Services/ServiceReference/DatabaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatabaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52775/DatabaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52775/DatabaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabaseService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_GetSqlVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlVersion" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_GetSqlVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabaseService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/Connect" message="tns:IDatabaseService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/ConnectResponse" message="tns:IDatabaseService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSqlVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/GetSqlVersion" message="tns:IDatabaseService_GetSqlVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/GetSqlVersionResponse" message="tns:IDatabaseService_GetSqlVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/Disconnect" message="tns:IDatabaseService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/DisconnectResponse" message="tns:IDatabaseService_Disconnect_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabaseService" type="tns:IDatabaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSqlVersion">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/GetSqlVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="BasicHttpBinding_IDatabaseService" binding="tns:BasicHttpBinding_IDatabaseService">
      <soap:address location="http://localhost:52775/DatabaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>